@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', 'Nanum Gothic', Helvetica, Arial, sans-serif;
}

.page1-background {
  background: #E9ECEF;
  transition: background 500ms ease-in-out;
}

.page2-background {
  background: #DEE2E6;
  transition: background 500ms ease-in-out;
}

.page3-background {
  background: #ced4da;
  transition: background 500ms ease-in-out;
}

@media (min-width: 1024px) {
  .my-profile {
    background: #f8f9fa;
    box-shadow:  calc(calc(50vh - 10rem) * 0.04) calc(calc(50vh - 10rem) * 0.04) calc(calc(50vh - 10rem) * 0.08) #d3d4d5,
                calc(calc(50vh - 10rem) * -0.04) calc(calc(50vh - 10rem) * -0.04) calc(calc(50vh - 10rem) * 0.08) #ffffff;
  }
}

.my-profile {
  background: #f8f9fa;
  box-shadow:  calc(calc(512px - 10rem) * 0.04) calc(calc(512px - 10rem) * 0.04) calc(calc(512px - 10rem) * 0.08) #d3d4d5,
              calc(calc(512px - 10rem) * -0.04) calc(calc(512px - 10rem) * -0.04) calc(calc(512px - 10rem) * 0.08) #ffffff;
}

@media (prefers-color-scheme: dark) {
  .page1-background {
    background: #343A40;
    transition: background 500ms ease-in-out;
  }

  .page2-background {
    background: #495057;
    transition: background 500ms ease-in-out;
  }

  .page3-background {
    background: #6c757d;
    transition: background 500ms ease-in-out;
  }

  /* .dark\:text-white {
    color: white
  }

  .dark\:text-black {
    color: black
  }

  .dark\:bg-white {
    background-color: white
  }
  
  .dark\:bg-black {
    background-color: black
  } */

  @media (min-width: 1024px) {
    .my-profile {
      background: #343A40;
      box-shadow:  calc(calc(50vh - 10rem) * 0.04) calc(calc(50vh - 10rem) * 0.04) calc(calc(50vh - 10rem) * 0.08) #262a2f,
                  calc(calc(50vh - 10rem) * -0.04) calc(calc(50vh - 10rem) * -0.04) calc(calc(50vh - 10rem) * 0.08) #424a51;
    }
  }

  .my-profile {
    background: #343A40;
    box-shadow:  calc(calc(512px - 10rem) * 0.04) calc(calc(512px - 10rem) * 0.04) calc(calc(512px - 10rem) * 0.08) #262a2f,
                calc(calc(512px - 10rem) * -0.04) calc(calc(512px - 10rem) * -0.04) calc(calc(512px - 10rem) * 0.08) #424a51;
  }
}
* {
  word-break: keep-all;
}

.lang-icons {
  max-width: calc(50vh - 4rem);
}
