@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', 'Nanum Gothic', Helvetica, Arial, sans-serif;
}

.coding-background {
  background-image: url(images/coding_bg.jpg);
  transition: background-image 500ms ease-in-out;
}

.original-background {
  background-image: url(images/blank-transparent.png);
  transition: background-image 500ms ease-in-out;
}

.dark-background {
  background-image: url(images/dark-background.png);
  transition: background-image 500ms ease-in-out;
}

* {
  word-break: keep-all;
}

.lang-icons {
  max-width: calc(50vh - 1rem - 1rem - 1rem - 1rem);
}

.my-profile {
  max-width: 39.0625%;
}